<?xml version="1.0" encoding="utf-8"?>
<config xmlns="urn:schemas-graywulf-config" root="..\footprint-config\targets\pollux">
  <assemblySettings prefix="footprint" description="Footprint Services" company="JHU IDIES / ELTE" product="Footprint" copyright="(c) 2006-2017 JHU IDIES / ELTE" />
  <includes>
    <include path="..\graywulf\config\sections.config" />
    <include path="..\graywulf-plugins\config\sections.config" />
    <include path="..\footprint\config\sections.config" />
  </includes>
</config>