<?xml version="1.0"?>
<configuration xmlns="urn:schemas-graywulf-config">
  <appSettings>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="WebForms" />
  </appSettings>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="false">
      <add name="WebAuthenticationModule" type="Jhu.Graywulf.Web.Security.WebAuthenticationModule, Jhu.Graywulf.Web"/>
    </modules>
  </system.webServer>

  <system.web>
    <globalization culture="en-us" />
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" requestPathInvalidCharacters="&lt;,&gt;,%,:,\,?" />
    <pages theme="Basic" masterPageFile="~/App_Masters/Basic/UI.master">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions" />
        <add tagPrefix="jgwc" namespace="Jhu.Graywulf.Web.Controls" assembly="Jhu.Graywulf.Web" />
        <add tagPrefix="jgwc" namespace="Jhu.Graywulf.Web.Controls" assembly="Jhu.Graywulf.Web.Controls" />
        <add tagPrefix="jgwuc" namespace="Jhu.Graywulf.Web.UI.Controls" assembly="Jhu.Graywulf.Web.UI" />
        <add tagPrefix="jfwuc" namespace="Jhu.Footprint.Web.UI.Controls" assembly="Jhu.Footprint.Web.UI" />
        <add tagPrefix="spherical" namespace="Jhu.Spherical.Web.Controls" assembly="Jhu.Spherical.Web.Controls" />
      </controls>
    </pages>
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true"/>
  </system.serviceModel>
</configuration>
